<!-- app\views\layouts\application.html.erb -->
<!DOCTYPE html>
<html>
	<head>
	  <title>MyBookshop5</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>

	<body>
		<div id="main-div">
			<div id="layout-top">
				<div id="title-top">
					<span>Books</span>
				</div>
				<div id="search-new-product">		
					<div id="book-search">
						<!-- add code to display a search box in this view, a 'partial' called _search.html.erb and a model method called 'search' -->
						<%#= render(:partial=>'/search',:locals=>
               						{ :my_path => "/products/search" })%>
					</div> 
					<div id="new-product">
						<%= button_to 'New Product',new_product_path, 
							:method => :get,:title=>"select to add new product details ..."%>
					</div>
				</div>
				<!-- display error messages at the bottom of the header of every page 
		
				flash is a session variable, you can store error messages on one page
				and access them on another, it is a special 'hash' of symbols, it is cleared 
				after every request so it is only available for the next call
				-->
				<div id="feedback-top" style = "text-align: left"> 
					
					<!-- to display all params[] remove "#" to <%= logger.debug("") %> -->
					<%#= logger.debug("-----------------") %> 
					<%#= logger.debug params.to_s %> 
					<%#= logger.debug("-----------------") %> 
					
					<!-- display in red -->
					<% if flash[:alert] %>
						<div id="alert" ><%= flash[:alert] %></div>
					<% end %>
					<!-- display in green -->
					<% if flash[:notice] %>
						<div id="notice"><%= flash[:notice] %></div>
					<% end %>		
				</div>
			</div>
			<!-- include selected page -->
			<%= yield %>
		</div>
	</body>
</html>
